body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper{
  display: flex; 
}

.image {
  width: 13em;
  height: 10em;
}

.margin {
  margin-right: 1em;
}

.jumbotron {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .wrapper{
    display:block;
  }

  .img {
    width: 80%;
  }
}

@media screen and (max-width: 780px) and (min-width: 600px) {
  .img {
    width: 90%;
  }
}